.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.project
.apt_generated
.settings
.DS_Store
.classpath
.idea
.factorypath
.gradle

/gen
/bin
/out
/generated
/build
/gradle

bin/R.txt
local.properties
/*.iml
